# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django cụ thể
db.sqlite3
db.sqlite3-journal
media/
static/
# Lưu ý: Nếu bạn muốn đẩy folder static gốc lên thì xóa dòng static/ ở trên, 
# nhưng thường người ta sẽ ignore static root sau khi chạy collectstatic.

# Môi trường ảo (Virtual Environment)
env/
venv/
ENV/
.env
.venv

# Tệp tin hệ điều hành
.DS_Store
Thumbs.db

# IDEs (VS Code, PyCharm)
.vscode/
.idea/

# Backup files
*.bak
*.swp